<h1>
  <%= t("titles.courses.create") %>
</h1>

<%= simple_form_for @course do |f| %>
  <p>
    <%= f.input :name, label: t("form.labels.course.name") %>
  </p>

  <p>
    <%= f.input :description, label: t("form.labels.course.description"), as: :text %>
  </p>

  <p>
    <%= f.input :status, collection: Course.course_types.keys,
    label: t("form.labels.course.status"), include_blank: 'Selecione...' %>
  </p>

  <p>
    <%= f.submit %>
    <br />
    <%= link_to t("action.back"), root_path %>
  </p>
<% end %>
